# [frontend の Server Component] -> [backend の API] へのアクセスで使うベース URL (コンテナ間通信)
INTERNAL_API_URL=http://web-tutorial-v2-backend-${HOST_USER}:8000

# [ブラウザ(Client Component)] -> [backend の API] へのアクセスで使うベース URL
# NEXT_PUBLIC_ プレフィックスはビルド時にクライアントバンドルへ値が展開される (= ブラウザに公開される)
NEXT_PUBLIC_API_URL=http://localhost:8000
