tmp/
core
.env

# AI
.gemini/
.claude/*.local.*
.kiri/
.serena/
.playwright-mcp/
.devcontainer/.env


# --- --- --- backend --- --- ---
# Byte-compiled / optimized / DLL files
.venv/
__pycache__/
*.py[codz]
*$py.class
.Trash-*/
.ipynb_checkpoints/